@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0px auto;
  padding: 0px;
  background: rgb(238, 249, 253);
  color: black;
  overflow-x: hidden;
}

.top_header img {
  width: 125px;
  height: auto;
  position: relative;
  z-index: 999;
}
.top_header hr {
  width: 43vw;
  height: 2px;
  background: black;
}
.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_header img {
  width: 800px;
  height: auto;
}

.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px;
}

h1 {
  font-family: "Rubik", sans-serif;
}

.text_main_header button {
  margin: 40px 20px;
  padding: 10px 90px;
  background: rgb(53, 93, 132);
  border: solid 1px rgba(0, 0, 0, 0.231);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}

.text_main_header p {
  font-size: 15px;
  font-family: "Advent Pro", sans-serif;
}

h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  font-family: "Rubik", sans-serif;
  padding-bottom: 20px;
}

.sec_1 li {
  font-family: Montserrat;
  max-width: 550px;
  padding: 10px 20px;
}

.sec_1 {
  padding-top: 150px;
}

.pre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.img_1_pre,
.img_2_pre,
.img_3_pre,
.img_4_pre,
.img_5_pre {
  width: 550px;
}

.final_sec_1 {
  margin: 0px auto;
  text-align: center;
  max-width: 900px;
  padding: 50px 0px;
}

.main_price img {
  width: 350px;
}

.main_price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.main_price p {
  max-width: 550px;
  font-family: Montserrat;
  line-height: 25px;
}

.price_text {
  padding: 10px 300px 80px 300px;
}

.price_text p {
  font-family: Montserrat;
}

.sec3 {
  padding-top: 80px;
}

.price_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  border: solid 1px black;
  padding: 20px;
  margin: 0px 100px;
}

.price_list h3 {
  text-align: center;
}

.price_list p {
  font-family: Montserrat;
  width: 350px;
  padding: 10px 0px;
}

.text_contat {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  gap: 300px;
  padding: 10px 0px 60px 0px;
  font-size: 20px;
  align-items: center;
}

footer {
  padding: 20px 0px;
  display: flex;
  font-family: Montserrat;
  justify-content: center;
  gap: 100px;
}

form {
  font-family: Montserrat;
  text-align: center;
  color: black;
  font-size: 20px;
}

.galoch {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  text-align: center;
}

.del_but_comit {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.href_galch {
  font-family: Montserrat;
}

.left_p_l label {
  padding-left: 37%;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: black;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 500px;
  padding: 5px;
  margin-bottom: 10px;
  color: black;
  border: solid rgba(0, 0, 0, 0.589) 1px;
}

input[type="submit"] {
  padding: 5px 10px;
  color: black;
  border: none;
  cursor: pointer;
  border: solid rgba(0, 0, 0, 0.609) 1px;
}

#comment {
  height: 300px;
}

.left img {
  width: 350px;
  padding-left: 150px;
}

textarea {
  resize: none;
}

.back a {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "Bellota Text";
  color: black;
  font-size: 20px;
}

#issue {
  background: rgb(32, 32, 32);
  border: solid rgba(0, 0, 0, 0.589) 1px;
  width: 500px;
}

@media screen and (width < 1700px) {
  .main_header {
    justify-content: center;
  }
  .price_list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .price_list h3 {
    text-align: left;
  }

  .price_list p {
    width: auto;
  }
  .left_p_l label {
    text-align: center;
    padding-left: 0%;
  }
}

@media screen and (width < 1400px) {
  .main_header {
    justify-content: center;
  }
  .main_header img {
    width: 600px;
  }
  h1 {
    font-size: 25px;
  }
  .img_1_pre,
  .img_2_pre,
  .img_3_pre,
  .img_4_pre,
  .img_5_pre {
    width: 350px;
  }
  .sec_1 {
    padding-top: 50px;
  }
  .text_contat {
    gap: 150px;
  }
}

@media screen and (width < 1200px) {
  .main_header img {
    width: 400px;
  }
  .main_header {
    gap: 50px;
    justify-content: center;
  }
  h1 {
    font-size: 20px;
  }
  .img_1_pre,
  .img_2_pre,
  .img_3_pre,
  .img_4_pre,
  .img_5_pre {
    width: 300px;
  }
  .text_contat {
    gap: 100px;
  }
  .main_price img {
    width: 220px;
  }
}

@media screen and (width < 1000px) {
  .top_header img {
    width: 100px;
  }
  .main_header {
    display: grid;
    margin: 0px auto;
    justify-content: center;
    gap: 0px;
  }
  h1 {
    font-size: 20px;
  }
  .img_1_pre,
  .img_2_pre,
  .img_3_pre,
  .img_4_pre,
  .img_5_pre {
    width: 280px;
  }
  .text_contat {
    gap: 20px;
  }
  .main_price img {
    width: 220px;
  }
  .pre {
    gap: 0px;
  }
  .main_price {
    gap: 0px;
  }
  .price_text {
    padding: 10px 150px 80px 150px;
  }
}

@media screen and (width < 850px) {
  .top_header img {
    width: 80px;
  }
  h1 {
    font-size: 20px;
  }
  .img_1_pre,
  .img_2_pre,
  .img_3_pre,
  .img_4_pre,
  .img_5_pre {
    width: 200px;
    position: absolute;
    left: 60%;
    z-index: -1;
    opacity: 0.2;
  }
  .text_contat {
    display: grid;
    padding-top: 40px;
  }
  .main_price img {
    width: 220px;
  }
  .pre {
    gap: 0px;
  }
  .main_price {
    gap: 0px;
    display: grid;
  }
  .main_price div {
    margin: 0px auto;
    padding: 20px 0px;
  }
  .price_text {
    padding: 10px 100px 80px 100px;
  }
  .price_list {
    margin: 0px 20px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 350px;
  }
  .galoch {
    font-size: 10px;
  }
  .div_gal {
    align-items: center;
    display: flex;
    gap: 3px;
  }
}

@media screen and (width < 850px) {
  .pre {
    margin: 0px 20px;
  }
}


@media screen and (width < 600px) {
  footer {
    gap: 10px;
    font-size: 10px;
  }
}
